*
!package.json
!bun.lock
!.gitignore
!tsconfig.base.json
!turbo.json
!.oxlintrc.json
!.oxfmtrc.json
!scripts/
!scripts/**
!apps/
!apps/**
!packages/
!packages/**
**/node_modules
**/dist
**/.turbo
apps/cli/bin
**/.env*
**/data
**/*.sqlite*

**/.wrangler
**/.dev.vars*
packages/cloudflare/generated
packages/cloudflare/env.d.ts

packages/html-validator/target/
packages/html-validator/env.d.ts
packages/cloudflare-upload/generated/
packages/cloudflare-upload/env.d.ts
