*
!package.json
!bun.lock
!.gitignore
!tsconfig.base.json
!turbo.json
!.oxlintrc.json
!.oxfmtrc.json
!scripts/
!scripts/**
!apps/
!apps/**
!packages/
!packages/**
**/node_modules
**/dist
**/.turbo
apps/cli/bin
**/.env*
**/data
**/*.sqlite*

**/.wrangler
**/.dev.vars*
packages/cloudflare/generated
packages/cloudflare/env.d.ts

**/.astro
